.thumbnail {
    width: 450px;
    display: block;

}

.search-bar {
    display: block;

}

.caption {
    font-family: Arial;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    width: 500px;

}

.ytber {
    font-family: Arial;
    font-size: 15px;
    color: grey;
    margin-top: 0px;
    margin-bottom: 1px;
}

.views {
    font-family: Arial;
    font-size: 14px;
    color: grey;
    margin-top: 0px;
    width: 300px;

}

.video-preview {
    width: 500px;
    display: inline-block;
    vertical-align: top;
}

.channel-picture {

    display: inline-block;
    width: 50px;
}

.video-info {
    display: inline-block;
    width: 200px;
}
.profile-picture{
    width: 100%;
}