.thumbnail{
    width: 450px;
    display: block;

}
.search-bar{
  display: block;
  
}

.caption{
    font-family: Arial;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;

}
.ytber{
    font-family: Arial;
    font-size: 15px;
    color: grey;
    margin-top: 0px;
    margin-bottom: 1px;
}
.views{
    font-family: Arial;
    font-size: 14px;
    color: grey;
    margin-top: 0px;

}
.video-preview{
    width: 500px;
    display: inline-block;
}